body{
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gainsboro;
}

.exito{
    color: green;
}
.entrada{
    font-size:25px;
    text-align: center;
    color: brown;
    font-weight: bold;
}

/* también vale text-align: end' */
.derecha{
    text-align: right;   
}
.centro{
    text-align: center;   
}


a{
    text-decoration: none;
    width: 100px;
    font-weight: bold;
   
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

