body{
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    padding: 0;
    margin: 0;
    background-image: url(./img/fondo.svg);
    background-size: cover;
    background-position: top;
    background-repeat:repeat;
    animation: rotate 8s infinite alternate linear;
    height: 100%;  
    display:flex;
    flex-direction: column;
    

    font-family: 'Roboto', sans-serif;
    background-color: gainsboro;
    overflow: hidden;
}

table{
  background-color: azure;
}

table a{
  color: black;
  font-weight: normal;
  text-align: center;
}

.cabecera{
    color: blue;
}



@keyframes rotate{
  100% {background-position: 15% 20%;}
}

/* header{
    text-align: center;
} */

form label{
  color: black;
  font-weight: normal;
  font-size: 16px;
}

/* .form-control me-2{
  width: 0;

} */

.d-flex{
  width: 250px;

}

table button{
  height:100%;
  width: 100%;
}

.supermenu{
  display: flex;
  align-items: end;

}

.entrada{
    font-size:20px;
    text-align: center;
    color: brown;
    font-weight: bold;
}

/* también vale text-align: end' */
.derecha{
    text-align: right;   
}
.centro{
    text-align: center;   
}

/* .especial{
    text-align: right;  
    border-style: dotted white;
    text-shadow: 3px 6px red;
} */
a{
    text-decoration: none;
    color: white;
    width: 100%;
    font-weight: bold;
}

input{
  margin-bottom: 5px;
}

.supercontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin:0;
}


a:hover{
    color: green;
    text-shadow: 1px 1px black;}

.container{
    color: white;
    font-size:25px;
    text-align: center;
    font-weight: bold;
    /* padding-top: 4px;
    padding-bottom: 4px; */
    align-content: center;
      padding: auto 50px;
      width: 75%;
      background-color: rgba(240, 248, 255, 0.163);
      align-items: center;
    
    }

 
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
     /* CSS */
   
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 320px) and (max-width: 767px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (max-width: 480px) {
    
    /* CSS */

    a{
        text-decoration: none;
        color: white;
        font-size: 50%;
        width: 100%;
        font-weight: bold;
    }

     
  }
